fastapi
uvicorn[standard]
docling
python-multipart
python-dotenv
docling-core
pymilvus
milvus-lite

pypdf
pandas

llama-index-core
pymupdf4llm

sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu