fastapi
uvicorn[standard]
python-multipart
python-dotenv

pymilvus
milvus-lite

pypdf
pandas

llama-index-core
pymupdf4llm

sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu